# -*- mode: sh -*-

# Sudo
alias _='sudo'
alias please='sudo'

# No Vi
alias vi='vim'
alias e='emacsclient -a vim -t'

# Make sure ls has colors and defaults to -h
if ls --color -d . >/dev/null 2>&1; then
    alias ls='ls --color=auto -h'
    alias ll='ls --color=auto -lh'
    alias l='ls --color=auto -lah'
else
    alias ls='ls -h'
    alias ll='ls -lh'
    alias l='ls -lah'
fi

# Jira
alias j='open https://improbableio.atlassian.net/browse/$(git rev-parse --abbrev-ref HEAD)'

# Docker
alias dr='docker run -it --rm'
alias drs='docker_run_shell'  # see .functions
alias drm='docker rm $(docker ps -a -f status=exited -q)'

# Kubernetes
alias k='kubectl'
alias kns='kubens'
alias kctx='kubectx'

# Git
alias gco='git checkout'
alias gst='git status'
alias gpr='git pull --rebase'  # Note possible collision with `gpr` command...
alias gf='git fetch -a'

# Rush
alias rbt.='rush build --to .'

# Whats My IP
alias wmi='dig +short myip.opendns.com @resolver1.opendns.com'

# Mac
if [ `uname` = "Darwin" ]; then
    alias o='open'
    alias pbc='pbcopy'
    alias pbp='pbpaste'
fi

# File Download
alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'

# Resource Usage
alias df='df -kh'
alias du='du -kh'

# Docker
alias d='docker'
alias dc='docker-compose'
# alias ecrl='$(aws ecr get-login --no-include-email)'

# Grep Colors
alias grep='grep --color=auto'

# Brew
if [ `uname` = "Darwin" ]; then
    alias brews='brew list -1'
    alias bubo='brew update && brew outdated'
    alias bubc='brew upgrade && brew cleanup'
    alias bubu='bubo && bubc'
    alias brewski='brew update && brew upgrade && brew cleanup; brew doctor'
fi

# Emacs
alias pemacs='emacs -Q -l ~/.emacs.d/profile-dotemacs.el --eval "(setq profile-dotemacs-file (setq load-file-name \"~/.emacs.d/init.el\"))" -f profile-dotemacs'
