[user]
    # Force per-repo identities.
    # See https://www.micah.soy/posts/setting-up-git-identities/
    useConfigOnly = true
    # Identites should go in ~/.git_identities/.gitconfig
[include]
    path = ~/.git_identities/.gitconfig
    #
    # Identities should look like:
    #
    #    [user "github"]
    #      name = <name>
    #      email = <email>
    #      signingkey = <keyID>
    #      gpgsign = true
    #

[push]
    default = simple

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto
    interactive = auto
    diff = auto
    branch = auto
    status = auto

[log]
    decorate = short

[pager]
    status = false
    diff = false
    show-branch = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[alias]
    st = status
    ci = commit
    co = checkout
    ru = remote update
    br = branch
    cam = commit -a -m
    staged = diff --cached
    unstaged = diff
    both = diff HEAD
    oneline = log --oneline
    bail = reset --hard HEAD^
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
    l = log --graph --decorate --oneline
    ls = log --graph --decorate --oneline --stat
    la = log --graph --decorate --oneline --all
    lsa = log --graph --decorate --oneline --stat --all
    myhist = !git log --author=\"$(git config user.name)\" --format=%H |xargs git show --name-only --format=-------------%n%Cred%s%Creset%n%Cblue%h%Creset
    ltree = !git log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) - %C(normal)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(bold normal)%s%C(reset) %C(cyan)- %an%C(reset)'
    identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; git config commit.gpgsign \"$(git config user.$1.gpgsign || echo false)\"; :"
